<%- model_class = Event -%>
<h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>

<br>

<h2>Current</h2>
<%= render partial: "user/events/table", locals: { events: @events } %>

<h2>Upcoming</h2>
<%= render partial: "user/events/table", locals: { events: @events } %>

<h2>Past</h2>
<%= render partial: "user/events/table", locals: { events: @events } %>
