<div class='row'>
  <div class='col-md-4 offset-md-4 text-center'>
    <%= form_with url: join_user_events_path do |f| %>
      <%# @todo: Add error handling and user_event logic %>
      <div class="form-group">
        <%= f.label :code, "Enter Code" %>
          <%= f.text_field :code, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.submit "Join", :class => 'btn btn-primary btn-round' %>
      </div>
    <% end %>

    <br>
    <br>
    <br>

    <p>
      No Code?
      <br>
      Contact organizer
    </p>

  </div>
</div>