<%# render partial: 'user/events/search/form' %>
<br>
<div class="card">
  <h2 class="card-title text-center">Upcoming Events</h2>
  <div class="card-body">
    <%= render partial: "user/events/table",
               locals: { events: @events.upcoming, event_action: :modal, event_action_label: "Details" } %>
  </div>
</div>
<br>
