<div class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Metyah</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-menu" aria-controls="nav-menu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id='nav-menu'>
    <ul class="navbar-nav mr-auto">
      <li class='nav-item <%= active_navigation?("events") %>'>
        <%= link_to "Events", user_events_path, class: "nav-link"  %>
      </li>
    </ul>
  </div>
</div>
