<h1>Editing User Private Message</h1>

<%= render 'form', user_private_message: @user_private_message %>

<%= link_to 'Show', @user_private_message %> |
<%= link_to 'Back', user_private_messages_path %>
