<%= render partial: 'user/events/current/event_users', locals: { event_users: @event_users } %>

<h2>
  All Event Users<br>
  <small>(TEMP DEMO ONLY)</small>
</h2>

<%= render partial: 'user/events/current/event_users', locals: { event_users: EventUser.all } %>
