<h1>User::Events::Current#inbox</h1>
<p>Find me in app/views/user/events/current/inbox.html.erb</p>

<div class="card">
  <div class="card-body">
    <%= @current_event.allow_messaging_status_message %>
  </div>
</div>
